version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2025.10
    steps:
      - checkout
      - setup_remote_docker

      # build and push Docker image
      - run:
          name: Build image and push to Docker Hub
          environment:
            BUILDKIT_PROGRESS: plain
            PUSH: 1
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
            docker buildx create --use --buildkitd-flags '--oci-max-parallelism=3'
            make

workflows:
  commit:
    jobs:
      - hold:
          type: approval
          filters:
            branches:
              only:
                - main
      - build:
          requires:
            - hold
  build:
    triggers:
      - schedule:
          # 3am every Saturday
          cron: "0 3 * * 6"
          filters:
            branches:
              only: main
    jobs:
      - build
