name: Build and Push Docker Images

on:
  # Manual trigger with approval
  workflow_dispatch:

  # Scheduled run at 3am every Saturday
  schedule:
    - cron: '0 3 * * 6'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --oci-max-parallelism=6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push Docker images
        env:
          BUILDKIT_PROGRESS: plain
          PUSH: 1
        run: make
